/* import des polices, variables, tools */
@import "general";

/* import des animations css sympas */
@import "animations";

/* *****************************************************************
BODY
***************************************************************** */
html {
    min-height: 100vh;
}

body {
    padding: 0;
    min-height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: $line-height;
    background-color: $color-body;
    font-family: $font-text;

    h1,
    h2,
    h3,
    h4 {
        font-family: $font-titles;
    }

    h1 {
        vertical-align: middle;
        font-size: $size-title-1;
        color: $color-title-1;
        text-align: center;
        margin-bottom: 3rem;

        span {
            color: $color-title-span;
        }
    }

    h2 {
        font-size: $size-title-2;
        color: $color-title-2;
        margin: 0.5rem;
        line-height: 4rem;
        margin-top: 0;
    }

    h3 {
        font-size: $size-title-3;
        color: $color-title-3;
        margin: 1rem;

        span {
            display: block;
            margin: 2rem;
            font-size: 3rem;
        }
    }

    a {
        text-decoration: none;
    }

    .golden-text {
        color: $color-golden-text;
        font-weight: 900;
    }

    .purple-text {
        color: $color-purple-text;
        font-weight: 900;
    }

    ² ul {
        margin: 0;
        padding: 0;
    }
}

/* *****************************************************************
HEADER
***************************************************************** */
header {
    background-color: $color-header;
    box-shadow: $shadow-lg;
    height: $height-header;

    .selected {
        // color when a link is selected
        transition: background-color 0.5s;
        background-color: $color-header-link-selected;
    }

    .display {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            display: inline-block;
            color: $color-link-text;

            &:hover {
                text-decoration: underline;
                color: $color-link-hover;
            }
        }
    }

    img {
        // logo
        display: block;
        min-width: 350px;
        height: auto;
        margin-left: 5rem;
    }

    .administrator_link {
        background-color: red;
    }

    .score {
        background: blue;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;

        a {
            min-width: 10em;
            padding: 1em 2em;
            font-family: $font-link;

            &:hover {
                text-decoration: none;
                color: pink;
                background: $color-header-link-hover;

                i {
                    animation: spin 5s linear infinite;
                }
            }

            i {
                font-size: $size-fontawesome-header;
                vertical-align: middle;
                margin: 0.5rem 0;
            }
        }

        ul,
        li {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        > ul {
            display: flex;
            justify-content: center;
        }

        > ul > li {
            position: relative;
            border-right: 1px solid grey;

            &:hover {
                transform: translateY(5px);
                transition: 0.05s ease;
            }

            &:first-child {
                border-left: 1px solid grey;
            }

            & > ul {
                position: absolute;
                display: none;

                li {
                    max-width: 10em;

                    i {
                        font-size: $size-fontawesome-header-extended-menu;
                        float: left;
                    }
                }

                li + li {
                    border-top: 1px solid #444;
                }
            }

            &:hover > ul {
                display: block;
                background-color: $color-header-link-extended-menu;
            }
        }
    }
}

/* *****************************************************************
MAIN
***************************************************************** */

main {
    background-color: $color-main;

    // Partie notifications tout en haut du main
    .alert-section {
        position: absolute;
        width: 250px;
        vertical-align: middle;

        p {
            height: 50px;
            font-weight: bold;
            text-align: center;
        }
    }

    .alert-danger {
        background-color: red;
    }

    .alert-success {
        background-color: green;
    }

    // Display principal
    .display__main {
        display: flex;
        padding: 1rem 0;
        flex-direction: row-reverse;
    }

    .box {
        width: 100%;
        margin: 1rem auto;
        padding: 2rem;
        background-color: $color-aside;
        border: 2px solid #eee;
        border-radius: 30px;
        box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
        transition: all 0.4s ease;

        &:hover {
            box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
        }
    }

    // ASIDE = PROFIL + COMMENTAIRES
    aside {
        width: 25%;
        display: flex;
        flex-direction: column;
    }

    // petite box profil en haut a droite
    .identification {
        img {
            width: 100px;
        }
    }

    // petite box commentaires en bas a droite
    .commentary_box {
        width: 100%;
        height: 550px;
        overflow: auto;

        fieldset {
            background-color: white;
        }

        .commentary__content {
            margin: 2rem auto 0;
        }

        .commentary__author {
            text-align: right;
            margin: 0 auto 1rem;
            font-size: 1.1rem;
        }

        .commentary_box_quotes {
            text-align: left;
        }

        blockquote {
            margin: 1rem auto;
            padding: 1em 0;
        }

        blockquote p {
            background-image: url(../images/client.png);
            background-repeat: no-repeat;
            padding-left: 40px;
        }

        blockquote cite {
            background-image: url(../images/quote.png);
            background-repeat: no-repeat;
            display: block;
            // color: #00748D;
            color: $color-purple-text;
            font-size: 1.4rem;
            padding-left: 40px;
            font-weight: bold;
        }
    }

    //Avancement % à droite de la page mais aussi dans la page Classement.
    .avancement {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        color: white;
        font-size: 3rem;
        font-weight: 4rem;
        margin: 2rem auto;
        padding-top: 3.5rem;
    }

    .quiz {
        width: 70%;
        background-color: $color-quiz;
    }

    p {
        a,
        span {
            color: $color-golden-text;
        }
    }

    article {
        background-color: $color-article;
        padding: 1em;
    }

    .detail-categorie {
        p {
            text-align: left;
        }
    }

    img {
        width: 500px;
        text-align: center;
        margin: 1rem;
    }

    section + section {
        margin-top: 2em;
    }

    button {
        display: inline-block;
        padding: 0.5em;
        margin: 1rem;
        width: 500px;
        height: 75px;
        border-radius: 5px;
        color: $color-button-text;
        background-color: $color-button-bg;
        border: $border-lg;
        box-shadow: $shadow-xl;
        cursor: pointer;
        user-select: none;

        &:focus,
        &:hover {
            color: black;
            transform: translateY(-5px);
            transition: 0.05s ease;
        }

        &:active {
            transform: scale(0.99995);
            transition: transform 0.005s;
        }
    }

    .progress {
        color: #555;
    }

    #goodAnswer.goodSelected {
        background-color: green;
        font-size: 2rem;
    }

    #badAnswer.errorSelected {
        background-color: grey;
    }

    .hidden_div {
        display: none;
    }

    .height_animated_div {
        height: 50px;
    }

    .animated_div {
        display: none;
        width: 130px;
        height: 57px;
        margin: 0 auto;
        background: $color-good-answer;
        color: #ffffff;
        position: relative;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        animation: animated_div 2s ease;
        border-radius: 5px;
        box-shadow: $shadow-xl;

        i {
            margin: 0.2rem;
        }

        i:first-child {
            color: $color-golden-text;
        }

        i:nth-child(3) {
            color: $color-purple-text;
        }
    }

    .active {
        display: block;
    }

    .navigation__questions {
        a {
            color: $color-purple-text;
        }

        i {
            vertical-align: middle;
            font-size: 5rem;
            margin: 2rem 1rem;
            color: $color-purple-text;
        }
    }


/* *****************************************************************
MODALS
***************************************************************** */

    .modal {
        position: fixed;
        background-color: rgba(grey, 0.6);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;
        overflow-y: initial
    }

    .modal-content {
        background-color: rgb(255, 255, 255);
        width: 85vh;
        padding: 2em;
        border: 1px solid #888;
        margin: auto;
        box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
        animation: slidein 0.5s ease;
        height: 85vh;
        overflow-y: auto;

        p {
            margin-bottom: 4rem;
        }
    }

    input,
    select,
    textarea {
        display: inline-block;
        padding: 0.5em 1em;
        font-size: 1.6rem;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0.5em;
    }

    select,
    textarea {
        width: 100%;
    }

    textarea {
        display: block;
        min-height: 10em;
    }

    /* Close Button */
    .close {
        float: right;
        color: rgb(255, 0, 0);
        float: right;
        font-size: 52px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Formulaire */
    form {
        img {
            display: block;
            text-align: center;
            overflow: auto;
        }
    }

    .display_flex {
        display: flex;
    }

    label {
        display: block;
        margin: auto;
        width: 90%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    input {
        width: 90%;
        margin-bottom: 2rem;
        display: inline-block;
    }

    /* modal SignUp */
    #modalSignUp:target {
        display: flex;
    }

    /* modal Login */
    #modalLogin:target {
        display: flex;
    }
}

/* *****************************************************************
FOOTER
***************************************************************** */

footer {
    background-color: $color-footer;
    font-family: $font-link;
    height: $height-footer;
    box-shadow: $shadow-lg;
    width: 100%;

    div {
        display: flex;
        flex-direction: column;

        p:first-child {
            margin-top: 1rem;
        }

        p {
            margin: 0;
        }
    }

    small {
        text-align: right;
    }
}

/* *****************************************************************
DIFFERENTS PAGES
***************************************************************** */

/* CSS de la page Main ( page d'Accueil une fois connecté ) */
.page-main {
    p {
        text-align: left;
    }
}

.ceintures {
    width: 50%;
    margin: 2rem auto;
    list-style: none;

    li:nth-child(1) {
        background-color: rgb(228, 224, 224);
    }

    li:nth-child(2) {
        background-color: yellow;
    }

    li:nth-child(3) {
        background-color: orange;
    }

    li:nth-child(4) {
        background-color: green;
    }

    li:nth-child(5) {
        background-color: rgba(0, 0, 255, 0.589);
    }

    li:nth-child(6) {
        background-color: #632800;
    }

    li:nth-child(7) {
        background-color: rgba(0, 0, 0, 0.603);
    }
}

/* CSS de la Page erreur */
.error {
    background-color: grey;
}

/* CSS de la Page topic */
.topic {
    ul {
        list-style-type: none;

        li {
            margin-top: 2rem;
        }

        p {
            text-align: right;
            margin: 0 5rem 0 0;
        }
    }
}

// CSS de la Page Livre d'Or - COMMENTAIRES SUR LA PAGE DU LIVRE D'OR
.goldenBook {
    background-color: white;
}

blockquote {
    margin: 1rem auto;
    padding: 1em 0;
    text-align: left;
}

blockquote p {
    background-image: url(../images/client.png);
    background-repeat: no-repeat;
    padding-left: 40px;
}

blockquote cite {
    background-image: url(../images/quote.png);
    background-repeat: no-repeat;
    display: block;
    // color: #00748D;
    color: $color-purple-text;
    padding-left: 40px;
    font-weight: bold;
}

// CSS de la Page results en fin de topic
.score {
    ul {
        padding: 0;
    }
}

.results {
    margin: 3rem 0;
    font-size: 2rem;
}

// CSS de la Page About
.about {
    ul {
        padding-left: 30px;
        margin: 0;
    }

    li {
        padding: 0;
        margin: 2rem;
        text-align: left;
    }

    .bdd {
        width: 100%;
        margin: 0 auto;
    }
}

// CSS de la Page Rankings
.rankings {
    img {
        width: 50px;
    }
}

code {
    background-color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        border: 1px solid #ddd;

        &.avancement {
            padding: 1rem;
        }
    }

    thead {
        text-align: center;
        border-bottom: 2px solid #999;
    }

    tbody tr:nth-child(odd) td {
        background-color: rgb(179, 230, 231);
    }

    tbody tr:nth-child(1) td {
        background-color: #ffd700;
    }

    tbody tr:nth-child(2) td {
        background-color: #c0c0c0;
    }

    tbody tr:nth-child(3) td {
        background-color: #614e1a;
    }
}

// CSS page error
.error-message {
    background-color: grey;
    margin: 0 auto;
    padding: 5rem 0;
}

/* *****************************************************************
RESPONSIVE
***************************************************************** */

//Breakpoints
$tabletToDeskop: 1000px;
$phoneToTablet: 800px;
$littlephoneToPhone: 700px;

// TABLET -> DESKTOP
@media screen and (max-width: $tabletToDeskop) {
    header {
        img {
            min-width: 300px;
            margin-left: 3rem;
        }

        nav {
            flex-direction: column;

            a {
                min-width: 5em;
                padding: 1em 1em;
            }
        }
    }

    main {
        // Display principal
        .display__main {
            flex-direction: column-reverse;
        }

        aside {
            width: 95%;
            margin: 0 auto;
            flex-direction: row;

            .identification {
                width: 45%;
            }

            .commentary_box {
                width: 45%;
            }
        }

        .quiz {
            width: 95%;
        }

        button {
            width: 250px;
        }
    }
}

// PHONE -> TABLET
@media screen and (max-width: $phoneToTablet) {
    header {
        img {
            min-width: 250px;
            margin-left: 2rem;
        }

        nav {
            flex-direction: column;

            a {
                min-width: 5em;
                padding: 1em 1em;
            }
        }
    }
}

// LITTLE PHONE -> PHONE ( NOT NECESSARY )
@media screen and (max-width: $littlephoneToPhone) {
    header {
        height: 150px;

        .display {
            flex-direction: column;
        }
    }
}
